$background: #3589B6; //#dcf5ff;
$titleColor: snow;
$titleShadow: 10px 10px 2px rgba(#1f4d68, .5);
$backgroundSize: 250px;
$totalHeight: 70000px;
$ultraScreen: 1200px;
$mediumScreen: 600px;
$smallScreen: 370px;
$overAllSpeed: .4s;
$buttonInformation: 8px;
$border-width: 5px;